.detail {
    img {
        width: 90%;
        margin: 5px;
        margin-top: 30px;
    }
    p {
        color: white;
    }
    .detail-title {
        font-size: 2em;
        color: rgb(255, 217, 0);
    }
    button {
        cursor: pointer;
        max-width: 300px;
        width: 100%;
        background-color: rgb(54, 99, 184);
        color: #fff;
        height: 50px;
        border: none;
        border-radius: 8px;
        letter-spacing: 2px;
        font-size: 1.1em;
    }
}
