.loading {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    img {
        width: 100%;
    }
}
