.navigation {
    height: 60px;
    width: 100%;
    .title {
        height: 100%;
        float: left;
        width: 15%;
        max-width: 300px;
        min-width: 150px;
        img {
            padding: 15px;
        }
    }
    .tools {
        height: 100%;
        float: right;
        @media (max-width: 576px) {
            position: absolute;
            left: 0px;
            top: 60px;
            width: 100%;
        }
        .search {
            height: 60px;
            width: auto;
            position: relative;
            .search-input {
                position: absolute;
                margin: auto;
                top: 0;
                bottom: 0;
                right: 17px;
                height: 20px;
                width: 0px;
                border-radius: 16px;
                border: 2px solid #7a7a7a;
                padding: 5px 15px;
                background-color: #464646;
                color: #ffffff;
                box-sizing: initial;
                transition: all 0.3s linear;
                &.open {
                    transition: all 0.3s linear;
                    width: 240px;
                    padding-right: 35px;
                    @media (max-width: 576px) {
                        padding-left: 35px;
                    }
                }
                @media (max-width: 576px) {
                    left: 17px;
                    right: auto;
                }
            }
            label {
                width: 1em;
                height: 1em;
                position: absolute;
                margin: auto;
                top: 0;
                bottom: 0;
                right: 25px;
                svg {
                    font-size: 1em;
                    color: #acacac;
                }
                @media (max-width: 576px) {
                    left: 27px;
                    right: auto;
                }
            }
        }
    }
}
