.search {
    .search-title {
        color: white;
    }
    ul {
        text-align: center;
        padding: 0;
        li {
            display: inline-block;
            width: 300px;
            height: 160px;
            background-color: #202020;
            margin: 10px;
            position: relative;
            img {
                width: 100%;
            }
            h3 {
                margin-top: 50px;
                color: white;
            }
            .hover {
                background-color: rgba($color: #000000, $alpha: 0.6);
                width: 100%;
                height: 170px;
                position: absolute;
                visibility: hidden;
                z-index: 1;
                top: 0;
                &.visible {
                    visibility: visible;
                }
                svg {
                    position: absolute;
                    margin: auto;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    color: white;
                    font-size: 3em;
                    color: rgba($color: #fff, $alpha: 0.8);
                }
            }
        }
    }
}
