.slider {
    height: 220px;
    width: 100%;
    position: relative;
    margin: 20px 0;
    .slider-title {
        color: white;
        margin: 0px;
        font-weight: 400;
        font-size: 1.2em;
    }
    .slider-control {
        top: 39px;
        cursor: pointer;
        position: absolute;
        width: 40px;
        height: 164px;
        background-color: rgba($color: #000000, $alpha: 0.5);
        svg {
            position: absolute;
            color: rgba($color: #fff, $alpha: 0.5);
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 1.5em;
        }
        &.right {
            right: 0;
        }
        &.left {
            left: 0;
        }
    }
    .slider-way {
        position: relative;
        display: block;
        overflow: hidden;
        height: 180px;
        width: 100%;
        box-sizing: border-box;
        transform: translate3d(0, 0, 0);
        .slider-inner {
            display: block;
            width: 9060px;
            height: 100%;
            transform: translate3d(0px, 0px, 0px);
            box-sizing: border-box;
            transition: all 0.4s linear;
            &::before {
                transform: rotateZ(180deg);
            }
            transform: rotateZ(180deg);
            .slider-item {
                cursor: pointer;
                position: absolute;
                left: 0px;
                top: 0px;
                display: inline-block;
                list-style-type: none;
                vertical-align: top;
                width: 292px;
                height: 163px;
                box-sizing: border-box;
                margin: auto 4px;
                background-color: #202020;
                img {
                    width: 100%;
                }
                .hover {
                    background-color: rgba($color: #000000, $alpha: 0.6);
                    width: 100%;
                    height: 170px;
                    position: absolute;
                    visibility: hidden;
                    z-index: 1;
                    &.visible {
                        visibility: visible;
                    }
                    svg {
                        position: absolute;
                        margin: auto;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        color: white;
                        font-size: 3em;
                        color: rgba($color: #fff, $alpha: 0.8);
                    }
                }
            }
        }
    }
}
