<!DOCTYPE html>
<html lang="es-MX">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body style="background-color: #000000">
        <img
            id="imageload"
            style="display:block;margin:auto;width:100px;position:absolute;left:0;right:0;top:0;bottom:0;"
            src="https://tienda.claro.com.ec/images/body/etiquetas/loading.gif"
        />
        <div id="main" style="display: none;"></div>
        <script>
            var busqueda = function(inter) {
                var el = document.querySelector('.container-fluid')
                var ld = document.querySelector('#imageload')
                var rc = document.querySelector('#main')
                if (el && ld) {
                    ld.parentNode.removeChild(ld)
                    rc.style.removeProperty('display')
                    clearInterval(inter)
                }
            }
            var tiempo = setTimeout(function() {
                var inter = setInterval(function() {
                    busqueda(inter)
                }, 1000)
            }, 1000)
        </script>
    </body>
</html>
